
* {
  box-sizing: border-box;
}

body {

}

h1 {
  text-align: center;
  font-family: 'EB Garamond', serif;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Montserrat:wght@100..900&display=swap');
