<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <header class="site-header">
    <div class="header-inner">
        <div class="logo">
            <a class="logo-btn" href="/home">HOTEL TRANSYLVANIA</a>
        </div>
        <div class="nav">
            <a href="/home">Home</a>
            <a href="/about">About Us</a>
            <a href="/rooms">Rooms</a>
            <a href="/booking">Book</a>
            <a href="/logout">Logout</a>
        </div>
        <a href="profile.html"><img src="/img/profile.png"></a>
    </div>
</header>
  {{{body}}}
</body>

<section class ="footer-section">
            
            <div class="footer-body">
                <p>406 Mayon St, Santa Mesa Heights, Quezon City, Metro Manila <br> +63 917 420 6767 <br> testemail@gmail.com
                </p>
            </div>
            
            <div class="footer-title">
                <h4> Hotel </h4>
                <h1> Transylvania</h1>
            </div>

            <div class = "footer-socials">
                <a href = "#">Facebook</a>
                <a href = "#">Tiktok</a>
                <a href = "#">Instagram</a>
                <a href = "#">X</a>
            </div>
            
</section>
<script src="/scripts/footerscript.js"></script>
</html>